.logo-img {
    height: 150px;
    padding-top: 20px;
}

#main-header {
    height: 120px;
}

#nav-menu {
    height: 100px;
}

#hero-text {
    height: 200px;
}

#hero-con {
    height: 600px;
}

.work-box {
    height: 320px;
}

#work-con {
    height: 2150px;
}

#about-con {
    height: 1150px;
}

#contact-con {
    height: 100px;
}

@media screen and (min-width:768px) {

    #hero-con {
        height: 420px;
    }

    #hero-text {
        height: 400px;
    }

    #hero-img img {
        height: 400px;
        padding-top: 15px;
    }

    #work-con {
        height: 800px;
    }

    #about-con {
        height: 600px;
    }
}

@media screen and (min-width:1200px) {

    #hero-con {
        height: 470px;
    }

    #hero-text {
        height: 450px;
    }

    #hero-img img {
        width: 600px ;
        height: 450px;
    }

    .work-box {
        height: 350px;
    }

    #about-con {
        height: 650px;
    }

    #about-con img {
        padding-top: 10px;
    }

}